:root {
	--font-mono: TinyAPL386, 'TinyAPL 386 Unicode', 'APL386 Unicode', 'BQN386 Unicode', APL385, APL333, 'Fira Code', monospace !important; 
}

@font-face {
	font-family: TinyAPL386;
	src: url('/TinyAPL386.ttf');
}

code, pre {
	font-family: var(--font-mono);
}

pre > code {
	overflow-x: hidden;
}